@import '../variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    .widget-container {
        display: flex;
        padding: 15px;
        margin-left: 10px;
        background-color: white;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        border-radius: 10px;
        flex-direction: column;
        width: 200px;

        label {
            margin: 10px;
        }

        input {
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        }

        button {
            width: 90%;
            margin: 20px auto;
            padding: 10px;
            border-radius: 12px;
            font-size: 18px;
        }
    }

    .document-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 29.7cm;
        margin: 15px 15px 15px 16%;
        box-sizing: border-box;

        .row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .right {
            text-align: right;
            flex-direction: row-reverse;
        }

        .sub {
            margin: 5px 5px 5px 20px;
        }

        .section {
            margin: 20px 0;

            .total-border {
                margin: 10px 0 0 0;
                border-bottom: 2px solid black;
            }

            .total {
                margin: 0px;
            }
        }
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .print-exclude {
        display: none !important;
    }

    .grecaptcha-badge {
        display: none !important;
        visibility: hidden !important;
    }
}