<div class="container">
  <div class="widget-container print-exclude">
    <label>Start date:</label>
    <input type="date" [(ngModel)]="startDate">
    <label>End date:</label>
    <input type="date" [(ngModel)]="endDate">
    <button class="button" (click)="calculateProfitLoss()">Calculate</button>
  </div>
  @if (documentVisible) {
    <div class="document-container">
      <h1>HELLENIC GROCERY LTD</h1>
      <h2>Profit And Loss Account</h2>
      <div class="values-container">
        <p class="row right">{{ year }}</p>
        <div class="section">
          <p class="row">Income</p>
          @for (cost of income.cost; track cost) {
            <div class="row">
              <p class="sub">{{ cost.category }}</p>
              <p class="sub">{{ cost.total | currency: 'GBP' }}</p>
            </div>
          }
          <div class="row right">
            <p class="total-border">{{ income.total | currency: 'GBP' }}</p>
          </div>
          <div class="row right">
            <p class="total">{{ totals.income | currency: 'GBP' }}</p>
          </div>
        </div>
        <div class="section">
          <p class="row">Cost of sale</p>
          @for (cost of costs.cost; track cost) {
            <div class="row">
              <p class="sub">{{ cost.category }}</p>
              <p class="sub">{{ cost.total | currency: 'GBP' }}</p>
            </div>
          }
          <div class="row right">
            <p class="total-border">-{{ costs.total | currency: 'GBP' }}</p>
          </div>
          <div class="row right">
            <p class="total">{{ totals.costs | currency: 'GBP' }}</p>
          </div>
        </div>
        <div class="section">
          <p class="row">Expenses</p>
          @for (cost of expenses.cost; track cost) {
            <div class="row">
              <p class="sub">{{ cost.category }}</p>
              <p class="sub">{{ cost.total | currency: 'GBP' }}</p>
            </div>
          }
          <div class="row right">
            <p class="total-border">-{{ expenses.total | currency: 'GBP' }}</p>
          </div>
          <div class="row right">
            <p class="total">{{ totals.expenses | currency: 'GBP' }}</p>
          </div>
        </div>
        <div class="section">
          <p class="row">Taxation</p>
          @for (cost of tax.cost; track cost) {
            <div class="row">
              <p class="sub">{{ cost.category }}</p>
              <p class="sub">{{ cost.total | currency: 'GBP' }}</p>
            </div>
          }
          <div class="row right">
            <p class="total">-{{ tax.total | currency: 'GBP' }}</p>
          </div>
        </div>
        <div class="section">
          <div class="row">
            <p>Net Profit</p>
            <p class="sub">{{ totals.tax | currency: 'GBP' }}</p>
          </div>
        </div>
      </div>
    </div>
  }
</div>