@import '../variables';

.container {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .no-data {
        background-color: #eaeef3;
        padding: 10px;
        margin-left: 10px;
        border-radius: 15px;
        width: 30%;
        text-align: center;
        height: 100px;

        h1 {
            font-size: 18px;
        }
    }

    table {
        margin-left: 20px;
        margin-right: auto;
        padding: 10px;
        border-collapse: collapse;
        overflow: hidden;
        border-radius: 15px;
    }

    tr {
        height: 56px;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
        font-size: 16px;
    }

    thead {
        background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
        color: white;
    }

    .data-row {
        background-color: #eaeef3;
    }

    tr:nth-child(even) {
        background-color: white;
    }

    .date-select-container {
        display: flex;
        flex-direction: column;
        width: 30%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #eaeef3;

        input {
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        label {
            margin: 10px;
        }
    }

    button {
        padding: 10px;
        margin: 20px;
        border-radius: 12px;
        font-size: 18px;
    }
}

.error {
    border: 1px solid red !important;
}