<div *ngIf="visible" class="container" [class]="visible ? 'visible' : 'hidden'">
    <div class="content">
        <div class="header-section">
            <h1>{{ tableData.title }}</h1>
            <a (click)="hide()">
                <fa-icon [icon]="faX" />
            </a>
        </div>
        <ng-container *ngIf="tableData.rows && tableData.rows.length > 0 && tableData.rows[0] != null else noData">
            <div class="table-container">
                <p class="warning-message" *ngIf="tableData.disabled?.value">{{ tableData.disabled.message }}</p>
                <table>
                    <thead>
                        <th *ngFor="let header of tableData.headers">{{ header.name }}</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tableData.rows">
                            <td *ngFor="let key of getColumnKeys(row); let index = index">
                                <ng-container [ngSwitch]="tableData.headers[index].type">
                                    <ng-container *ngSwitchCase="'image'">
                                        <img [src]="imageUrlBase + row[key]">
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'currency'">
                                        {{ row[key] | currency: 'GBP' }}
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'percent'">
                                        {{ row[key] | number : '1.2-2' }}%
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        {{ row[key] }}
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td (click)="!tableData.disabled?.value && editRow(row['id'])">
                                <fa-icon [class]="tableData.disabled?.value ? 'disabled-icon' : ''"
                                    [icon]="faPenToSquare" />
                            </td>
                            <td (click)="!tableData.disabled?.value && deleteRow(row['id'])">
                                <fa-icon [class]="tableData.disabled?.value ? 'disabled-icon' : ''"
                                    [icon]="faTrashCan" />
                            </td>
                        </tr>
                        <tr *ngIf="tableData.query == 'stocked-items'">
                            <td>Total:</td>
                            <td [attr.colspan]="8">{{ getStockedItemTotal() }}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="tableData.query == 'invoiced-items'" class="summary-container">
                    <h1>Transaction Summary</h1>
                    <div>
                        <p class="header">Net Amount:</p>
                        <p>{{ tableData.extra.totalNet | currency: 'GBP' }}</p>
                    </div>
                    <div>
                        <p class="header">VAT Amount:</p>
                        <p>{{ tableData.extra.totalVAT | currency: 'GBP' }}</p>
                    </div>
                    <div>
                        <p class="header">Total:</p>
                        <p>{{ tableData.extra.totalWithVAT | currency: 'GBP' }}</p>
                    </div>
                </div>
                <div class="widget-footer">
                    <button class="button" (click)="!tableData.disabled?.value && addRow()">Add more</button>
                </div>
            </div>
        </ng-container>
        <ng-template #noData>
            <div class="error-container">
                <p>Error! There is no data. Would you like to add some?</p>
                <button (click)="!tableData.disabled?.value && addRow()" class="button">Add Data</button>
            </div>
        </ng-template>
    </div>
</div>