@import "../variables";
.container {
    margin: 15px 15px 15px calc(16% + 10px);
    .control-container {
        background: white;
        width: 50vh;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        text-align: center;
        padding: 20px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        form {
            width: inherit;
        }
        label {
            display: flex;
            .ng-fa-icon {
                display: flex;
                font-size: 13px;
                margin: 0 0 5px 2px;
            }
        }
        .controller {
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .input-container {
                margin-top: 10px;
            }
            .number {
                width: 40px;
                border-radius: 5px;
                border: 1px solid black;
                padding: 5px;
            }
        }
        .button {
            border-radius: 5px;
            padding: 5px;
            font-weight: bold;
            font-size: 17px;
            display: flex;
            margin-left: auto;
        }
    }
}