@import "../variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    margin: 10px 15px 10px 16%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: border-radius 0.5s ease 1s;

    .nav-options-container {
        display: flex;
        flex-direction: row;

        p>fa-icon {
            &:hover {
                color: $hellenicblue;
                transition: color 0.3s;
            }
        }

        .notification-wrapper {
            position: relative;
            display: inline-block;

            .notification-indicator {
                background-color: orangered;
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                left: 10px;
            }
        }

        .user-dropdown-container {
            position: absolute;
            top: 80px;
            right: 15px;
            background-color: #fff;
            border-top: 2px solid #ccc;
            border-radius: 0 0 15px 15px;
            padding: 10px;
            box-shadow:
                0 6px 8px -4px rgba(0, 0, 0, 0.2),
                0 12px 20px -6px rgba(0, 0, 0, 0.19);
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 7%;
            height: 102px;
            transition:
                height 1s ease 0.2s,
                opacity 0s ease 0.2s,
                padding 1s ease 0.2s;

            h2 {
                margin: 5px 10px 10px 10px;
                font-size: 22px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                margin: 0px 5px;
                font-size: 18px;
                width: 100%;
                cursor: pointer;
                pointer-events: none;
                color: black;
                transition:
                    color 0.3s,
                    opacity 0.5s ease 1s;

                &:hover {
                    color: $hellenicblue;
                    transition: color 0.3s;
                }
            }

            &.interactive {
                a {
                    pointer-events: auto;
                }
            }
        }

        .user-options-hidden {
            height: 0px;
            padding: 0px;
            opacity: 0;
            pointer-events: none;
            transition:
                opacity 0.5s ease 1s,
                padding 0.5s ease 0.5s,
                height 0.5s ease 0.5s;

            a {
                opacity: 0;
                transition: opacity 0.5s ease;
            }
        }

        >p {
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    }

    >.hidden {
        display: none;
    }
}

.user-options-visible {
    border-radius: 10px 10px 0px 10px;
    transition: border-radius 0.2s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 70%;
        margin: 10px 25px 10px calc(23% + 10px);
    }
}