@import "../variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    margin: 10px 15px 10px 16%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: border-radius 0.5s ease 1s;

    .nav-options-container {
        display: flex;
        flex-direction: row;

        p>fa-icon {
            &:hover {
                color: $hellenicblue;
                transition: color 0.3s;
            }
        }

        .notification-wrapper {
            position: relative;
            display: inline-block;

            .notification-indicator {
                background-color: orangered;
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                left: 10px;
            }
        }

        .user-dropdown-container {
            position: absolute;
            top: 80px;
            right: 15px;
            background-color: #fff;
            border-top: 2px solid #ccc;
            border-radius: 0 0 15px 15px;
            padding: 10px;
            box-shadow:
                0 6px 8px -4px rgba(0, 0, 0, 0.2),
                0 12px 20px -6px rgba(0, 0, 0, 0.19);
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 7%;
            height: 102px;
            transition:
                height 1s ease 0.2s,
                opacity 0s ease 0.2s,
                padding 1s ease 0.2s;

            h2 {
                margin: 5px 10px 10px 10px;
                font-size: 22px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                margin: 0px 5px;
                font-size: 18px;
                width: 100%;
                cursor: pointer;
                pointer-events: none;
                color: black;
                transition:
                    color 0.3s,
                    opacity 0.5s ease 1s;

                &:hover {
                    color: $hellenicblue;
                    transition: color 0.3s;
                }
            }

            &.interactive {
                a {
                    pointer-events: auto;
                }
            }
        }

        .user-options-hidden {
            height: 0px;
            padding: 0px;
            opacity: 0;
            pointer-events: none;
            transition:
                opacity 0.5s ease 1s,
                padding 0.5s ease 0.5s,
                height 0.5s ease 0.5s;

            a {
                opacity: 0;
                transition: opacity 0.5s ease;
            }
        }

        >p {
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }

        .notification-dropdown-container {
            display: flex;
            flex-direction: column;
            gap: 6px;
            position: absolute;
            top: 80px;
            right: 15px;
            background-color: #fff;
            border-top: 2px solid #ccc;
            border-radius: 0 0 15px 15px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 3;
            width: 25%;
            pointer-events: none;
            max-height: 300px;
            transition:
                max-height 1s ease 0.2s,
                opacity 0s ease 0.2s,
                padding 1s ease 0s;

            &.interactive {
                pointer-events: auto;
            }

            .empty-section {
                p {
                    font-size: 18px;
                }
            }

            .section {
                border: 2px solid rgb(0, 140, 255);
                border-radius: 10px;
                padding: 10px;

                transition: border-color 0.5s ease 1s;

                h2 {
                    font-size: 18px;
                    text-decoration: underline;
                }

                .notification-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 5px;
                    padding: 2px;
                    margin: 5px;
                    transition: background-color 0.5s ease;

                    p {
                        padding: 4px;
                        font-size: 16px;
                    }

                    &:hover {
                        background-color: #f8f8f8;
                        transition: background-color 0.5s ease;

                        fa-icon {
                            color: red;
                        }
                    }
                }


            }

            fa-icon {
                cursor: pointer;
                transition: color 0.5s ease;
                margin-right: 5px;
            }

            p,
            h2,
            fa-icon {
                transition: opacity 0.5s ease 1s;
            }
        }

        .notifications-hidden {
            max-height: 0;
            padding: 0px;
            opacity: 0;
            pointer-events: none;
            transition:
                opacity 0.5s ease 1.5s,
                padding 0.5s ease 0.8s,
                max-height 0.5s ease 0.5s;

            p,
            h2,
            fa-icon {
                opacity: 0;
                transition: opacity 0.5s ease;
            }

            .section {
                border-color: transparent;
                transition: border-color 0.5s ease;
            }
        }

        .hidden {
            display: none;
        }
    }

    .search-container {
        width: 15vw;

        .search-bar {
            display: flex;
            justify-content: space-between;
            border-radius: 8px;
            border: 1px solid rgb(215, 215, 215);
            padding: 12px;
            transition: border-radius 0.6s 1s ease;

            &:focus-within {
                border-radius: 8px 8px 0 0;
                transition: border-radius 0.5s ease;
            }

            button {
                background-color: transparent;
                color: #7b7b7b;
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
            }

            input {
                border: none;
                font-size: 16px;
                width: 100%;

                &:active,
                &:focus-visible {
                    outline: none;
                }

                &::placeholder {
                    font-size: 16px;
                }
            }
        }

        .search-dropdown-container {
            z-index: 3;
            position: absolute;
            border-radius: 0 0 8px 8px;
            border: 1px solid rgb(215, 215, 215);
            border-top: none;
            width: 15vw;
            background-color: white;
            box-sizing: border-box;
            max-height: 75vh;
            overflow-y: auto;

            .search-option {
                padding: 8px;
                cursor: pointer;
                border-bottom: 1px solid #ccc;

                p {
                    margin: 5px;
                }

                .results-container {
                    display: flex;
                    justify-content: space-between;

                    p {
                        text-align: right;
                    }

                    .bold {
                        text-align: left;
                        font-weight: bold;
                    }
                }

                &:hover {
                    background-color: #eaeef3;
                }
            }
        }

        .hidden {
            opacity: 0;
            max-height: 0;
            border: 1px solid transparent;
            box-shadow: 0;
            transition:
                max-height 1s ease,
                opacity 0.5s 1s ease,
                border 0s 1s;
        }

        .visible {
            opacity: 1;
            max-height: 750px;
            border: 1px solid rgb(215, 215, 215);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            transition:
                max-height 1s ease 0.4s,
                opacity 0.5s ease;
        }
    }

    >.hidden {
        display: none;
    }
}

.user-options-visible {
    border-radius: 10px 10px 0px 10px;
    transition: border-radius 0.2s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 70%;
        margin: 10px 25px 10px calc(23% + 10px);
    }
}