$hellenicblue: rgb(0, 140, 255);
.container {
    display: flex;
    margin-left: 15%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    .nav-options-container {
        display: flex;
        flex-direction: row;
        p {
            margin: 10px;
        }
    }
    .search-container {
        margin-left: 10px;
        .search-bar {
            border-radius: 5px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            padding: 6px;
            button {
                background-color: transparent;
                border: none;
                background: none;
                outline: none;
            }
            input {
                border: none;
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
    }
}