<div class="container" [class.user-options-visible]="userOptionsVisible || notificationVisible">
  <div class="search-container">
    <div class="search-bar">
      <input
        [(ngModel)]="searchInput"
        (input)="searchTables($event)"
        (focus)="searchDropdownVisible = true"
        type="text"
        placeholder="Search..."
      />
      <button>
        @if (!searching) {
          <fa-icon [icon]="icons.faSearch"></fa-icon>
        }
        @if (searching) {
          <fa-icon [icon]="icons.faSpinner" spinPulse [spin]="true" />
        }
      </button>
    </div>
    <div
      class="search-dropdown-container"
      [class.visible]="searchDropdownVisible"
      [class.hidden]="!searchDropdownVisible"
    >
      @if (filteredTableOptions.length > 0 || searchResults.length > 0) {
        @for (table of filteredTableOptions; track table) {
          <div class="search-option" (click)="changeTable(table.actual)">
            <p>{{ table.display }}</p>
          </div>
        }
        @for (results of searchResults; track results) {
          <div class="search-option" (click)="goToRow(results.tableName, results.matchedValue)">
            <div class="results-container">
              <p class="bold">{{ results.tableName }}:</p>
              <p>{{ results.displayValue }}</p>
            </div>
          </div>
        }
      } @else {
        @if (!searching) {
          <div class="search-option">
            <p>
              There were no results
              <fa-icon [icon]="icons.faFileCircleXmark" />
            </p>
          </div>
        }
      }
    </div>
  </div>
  <div class="nav-options-container">
    <p #notificationIcon (click)="toggleNotificationDropdown()" class="notification-wrapper">
      @if (this.notificationKeys().length > 0) {
        <span class="notification-indicator"></span>
      }
      <fa-icon [icon]="icons.faBell"></fa-icon>
    </p>
    <p #userIcon>
      <fa-icon (click)="toggleUserOptions()" [icon]="icons.faUser"></fa-icon>
    </p>
    <div
      #notificationDropdown
      class="notification-dropdown-container"
      [class.notifications-hidden]="!notificationVisible"
      [class.interactive]="interactive"
      (click)="stopEvent($event)"
    >
      @if (this.notificationKeys().length > 0) {
        @for (key of this.notificationKeys(); track key) {
          <div class="section">
            <h2>{{ key }}</h2>
            @for (notification of notifications[key]; track notification) {
              <div class="notification-container">
                <p>{{ notification }}</p>
                <fa-icon (click)="removeNotification(key, notification)" [icon]="icons.x" />
              </div>
            }
          </div>
        }
      } @else {
        <div class="empty-section">
          <p>You have no new notifications. Check back later!</p>
        </div>
      }
    </div>
    <div
      #userOptions
      class="user-dropdown-container"
      [class.user-options-hidden]="!userOptionsVisible"
      [class.interactive]="interactive"
    >
      <a (click)="logout()">
        Logout
        <fa-icon [icon]="icons.faRightFromBracket" />
      </a>
      <a (click)="changePassword()">
        Change Password
        <fa-icon [icon]="icons.faKey" />
      </a>
    </div>
  </div>
</div>
