$hellenicblue: rgb(0, 140, 255);
.container {
    display: flex;
    margin: 10px 25px 10px calc(16% + 10px);
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    .nav-options-container {
        display: flex;
        flex-direction: row;
        p {
            margin: 10px;
            font-size: 22px;
        }
        .notification-dropdown-container {
            position: absolute;
            top: 85px;
            right: 25px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 15px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 100;
            width: 25%;
            p {
                border: 2px solid #207df8;
                border-radius: 5px;
                padding: 10px;
                &:hover {
                    background-color: #eaeef3;
                }
            }
        }
    }
    .search-container {
        margin-left: 10px;
        display: flex;
        .search-bar {
            border-radius: 5px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            padding: 6px;
            button {
                background-color: transparent;
                border: none;
                background: none;
                outline: none;
            }
            input {
                border: none;
                &:active,
                &:focus-visible {
                    outline: none;
                }
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
        .search-dropdown-container {
            position: absolute;
            margin-top: 32px;
            border-radius: 0 0 5px 5px;
            border: 1px solid black;
            width: 210px;
            background-color: white;
            .search-option {
                padding: 2px 0 2px 0;
                p {
                    margin: 5px;
                }
                &:hover {
                    background-color: #eaeef3;
                }
            }
        }
    }
    .hidden {
        display: none;
    }
}