<div class="container">
    <div class="search-container">
        <div class="search-bar">
            <input [(ngModel)]="searchInput" (input)="searchTables($event)" (focus)="searchDropdownVisible = true"
                type="text" placeholder="Search..." />
            <button>
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </div>
        <ng-container *ngIf="searchDropdownVisible">
            <div [class]="'search-dropdown-container'">
                <ng-container *ngIf="filteredTableOptions.length > 0 else searchEmpty">
                    <div *ngFor="let table of filteredTableOptions" class="search-option"
                        (click)="changeTable(table.actual)">
                        <p>{{ table.display }}</p>
                    </div>
                </ng-container>
                <ng-template #searchEmpty>
                    <div class="serach-option">
                        <p>There were no results
                            <fa-icon [icon]="faFileCircleXmark" />
                        </p>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>
    <div class="nav-options-container">
        <p #notificationIcon>
            <fa-icon (click)="toggleNotificationDropdown()" [icon]="faBell"></fa-icon>
        </p>
        <p>
            <fa-icon [icon]="faEnvelope"></fa-icon>
        </p>
        <p>
            <fa-icon (click)="toggleUserOptions()" [icon]="faUser"></fa-icon>
        </p>
        <div *ngIf="notificationVisible" #notificationDropdown class='notification-dropdown-container'>
            <ng-container *ngIf="notifications.length > 0 else elseBlock">
                <div class="section" *ngFor="let notification of notifications">
                    <h2>{{ notification.header }}</h2>
                    <p *ngFor="let dataItem of notification.data">{{ dataItem }}</p>
                </div>
            </ng-container>
            <ng-template #elseBlock>
                <div class="empty-section">
                    <p>You have no new notifications. Check back later!</p>
                </div>
            </ng-template>
        </div>
        <div [class]="'user-dropdown-container ' + (userOptionsVisible ? '' : 'hidden')">
            <h2>Options</h2>
            <button class="button" (click)="logout()">Logout</button>
            <button class="button" (click)="changePassword()">Change Password</button>
        </div>
    </div>
</div>