<div class="container" [class.user-options-visible]="userOptionsVisible || notificationVisible">
  <app-search-dropdown />
  <div class="nav-options-container">
    <p #notificationIcon (click)="toggleNotificationDropdown()" class="notification-wrapper">
      @if (this.notificationKeys().length > 0) {
        <span class="notification-indicator"></span>
      }
      <fa-icon [icon]="icons.bell"></fa-icon>
    </p>
    <p #userIcon>
      <fa-icon (click)="toggleUserOptions()" [icon]="icons.user"></fa-icon>
    </p>
    <app-notification-tab [interactive]="interactive" [notifications]="notifications" [visible]="notificationVisible" />
    <div
      #userOptions
      class="user-dropdown-container"
      [class.user-options-hidden]="!userOptionsVisible"
      [class.interactive]="interactive"
    >
      <a (click)="logout()">
        Logout
        <fa-icon [icon]="icons.exit" />
      </a>
      <a (click)="changePassword()">
        Change Password
        <fa-icon [icon]="icons.key" />
      </a>
    </div>
  </div>
</div>
