.container {
    display: flex;
    margin-left: 19%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    .nav-options-container {
        display: flex;
        flex-direction: row;
    }
}