@import '../variables';

.select {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;
    height: 90%;

    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 15px 15px;
        padding: 10px;

        button {
            font-size: 18px;
            outline: none;
            padding: 10px 14px;
            background: linear-gradient(to right,
                    rgb(34, 130, 255),
                    rgb(6, 63, 167));
            border: none;
            border-radius: 12px;
            color: white;
            cursor: pointer;
            width: 100%;
        }
    }

    .content {
        background-color: #ffffff;
        border: none;
        border-radius: 15px;
        margin: 5px auto;
        width: 25%;

        .header-section {
            height: 50px;
            border-radius: 15px 15px 0 0;
            display: flex;
            justify-content: space-between;
            padding: 12px;

            a {
                cursor: pointer;
                background: linear-gradient(to right, rgb(34, 130, 255), rgb(6, 63, 167));
                padding: 5px;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                fa-icon {
                    align-self: flex-end;
                }
            }

            h1 {
                width: 100%;
                font-size: 25px;
                margin: auto;
            }
        }

        .content-section {
            .input-container {
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                >div {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    border-radius: 10px;
                    margin: 15px 2px 0 2px;
                    background-color: white;
                }

                label {
                    padding: 5px;
                    font-weight: bold;
                }

                input {
                    width: 100%;
                    box-sizing: border-box;
                    background-color: #ffffff;
                    outline: none;
                    border-radius: 8px;
                    font-size: 16px;
                    padding: 10px;
                    padding-right: 35px;
                    border: 1px solid #cacfd4;
                    transition: border-color 0.3s;

                    &:hover {
                        border-color: #2180fc;
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}