@import "../../../variables";

.container {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    .no-data-container {
        background-color: white;
        padding: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;

        .header {
            display: flex;
            width: 100%;

            fa-icon {
                cursor: pointer;
                font-size: 20px;

                &:hover {
                    color: #0e52c1;
                    transition: color 0.3s;
                }
            }
        }

        button {
            border-radius: 5px;
            padding: 8px;
            font-weight: bold;
            font-size: 17px;
            margin: 10px;
        }
    }
}