<div class="container">
    <div class="row">
        <div *ngFor="let data of itemDataRowA; let i = index" class="section">
            <h1>{{ headers[i] }}</h1>
            <h2>{{ data["item_name"] }}</h2>
            <ng-container *ngIf="data['unit_cost'] == 0 || data['retail_price'] == null || data['wholesale_price'] == null">
                <fa-icon [icon]="faWarning" />
                <p>Some data was missing! The below figures may be incorrect!</p>
            </ng-container>
            <p>Total Sold: {{ data["total_sold"] }}</p>
            <p>Retail Margin: {{ data["retail_margin"] == null ? '---' : data["retail_margin"] | number : '1.2-2' }}</p>
            <p>Wholesale Margin: {{ data["wholesale_margin"] == null ? '---' : data["wholesale_margin"] | number : '1.2-2' }}</p>
            <p>Unit Cost: {{ data["unit_cost"] == null ? '---' : data["unit_cost"] | currency:'GBP'}}</p>
            <p>Retail Price: {{ data["retail_price"] == null ? '---' : data["retail_price"] | currency:'GBP'}}</p>
            <p>Wholesale Price: {{ data["wholesale_price"] == null ? '---' : data["wholesale_price"] | currency:'GBP'}}</p>
            <p>Total Income: {{ data["total_income"] == null ? '---' : data["total_income"] | currency:'GBP'}} </p>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let data of itemDataRowB; let i = index" class="section">
            <h1>{{ headers[i + 2] }}</h1>
            <h2>{{ data["item_name"] }}</h2>
            <ng-container *ngIf="data['unit_cost'] == 0 || data['retail_price'] == null || data['wholesale_price'] == null">
                <fa-icon [icon]="faWarning" />
                <p>Some data was missing! The below figures may be incorrect!</p>
            </ng-container>
            <p>Total Sold: {{ data["total_sold"] }}</p>
            <p>Retail Margin: {{ data["retail_margin"] == null ? '---' : data["retail_margin"] | number : '1.2-2' }}</p>
            <p>Wholesale Margin: {{ data["wholesale_margin"] == null ? '---' : data["wholesale_margin"] | number : '1.2-2' }}</p>
            <p>Unit Cost: {{ data["unit_cost"] == null ? '---' : data["unit_cost"] | currency:'GBP'}}</p>
            <p>Retail Price: {{ data["retail_price"] == null ? '---' : data["retail_price"] | currency:'GBP'}}</p>
            <p>Wholesale Price: {{ data["wholesale_price"] == null ? '---' : data["wholesale_price"] | currency:'GBP'}}</p>
            <p>Total Income: {{ data["total_income"] == null ? '---' : data["total_income"] | currency:'GBP'}} </p>
        </div>
    </div>
</div>