$accent-color: #3498db;

.transaction {
    margin: 5px;

    .unpaid {
        background-color: red;
        padding: 12px;
        border-radius: 5px;
    }

    .order,
    .payment,
    .credit-note {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 15% 25% 30% 15% 15%;
        border-bottom: 2px solid black;
        padding: 5px;
        column-gap: 5px;

        .amount,
        .date {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}

p {
    margin: 0;
}

.bold {
    font-weight: bold;
}