.invoice-summary {
    color: black;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .summary-item {
        margin-bottom: 10px;
        font-size: 1.1em;
    }
}