<div class="container">
    <!-- Implement header section component here -->
    <h1>Dashboard</h1>
    <div class="widget-container">
        <div *ngFor="let widget of widgetData; let i = index" class="widget">
            <div class="icon-container">
                <fa-icon [icon]="widgetIcons[i]"></fa-icon>
            </div>
            <div class="information-container">
                <h2>{{ widgetHeaders[i] }}</h2>
                <p>{{ widget }}</p>
            </div>
        </div>
    </div>
    <div class="quick-view-container">
        <button class="button" (click)="getInvoicesDueToday()">Invoices Due Today</button>
        <button class="button" (click)="getLowStock()">Low Stock</button>
        <button class="button" (click)="getProductsExpiring()">Products Expiring Soon</button>
    </div>
</div>
<app-message-form></app-message-form>