<div class="filter-container print-exclude">
  <div>
    <label>Initial date: </label>
    <input
      type="text"
      matInput
      ngxDaterangepickerMd
      [ranges]="ranges"
      [alwaysShowCalendars]="true"
      [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
      [(ngModel)]="dateRange"
      name="daterange"
      (datesUpdated)="updateDateRange()"
    />
  </div>
  <div>
    <label>Payment Type: </label>
    <select (change)="changePaymentType($event)">
      <option [selected]="true" [disabled]="true">Select and option</option>
      <option>Cash</option>
      <option>Card</option>
      <option>Both</option>
    </select>
  </div>
  <div (click)="emailSupplier()">
    <p>Email supplier</p>
    @if (isLoading) {
      <fa-icon class="loading-icon" [icon]="icons.loading" spinPulse [spin]="true" />
    } @else {
      <fa-icon [icon]="icons.email" />
    }
  </div>
</div>
<div class="balance-sheet-container" id="balance-sheet">
  <div class="content">
    <div class="header-section print-exclude">
      <h1>{{ inputData.title }}</h1>
    </div>
    <div class="transaction-list">
      <h2>Transactions</h2>
      @for (transaction of filteredTransactions; track transaction) {
        <app-transaction [Transaction]="transaction" />
      }
    </div>
    @if (invoiceSummary) {
      <app-invoice-summary [InvoiceSummary]="invoiceSummary" />
    }
  </div>
</div>
<app-message-form />
