<div class="filter-container print-exclude">
  <div>
    <label>Initial date: </label>
    <input
      type="text"
      matInput
      ngxDaterangepickerMd
      [ranges]="ranges"
      [alwaysShowCalendars]="true"
      [locale]="{ applyLabel: 'ok', format: 'DD-MM-YYYY' }"
      [(ngModel)]="dateRange"
      name="daterange"
      (datesUpdated)="updateDateRange()"
    />
  </div>
  <div>
    <label>Payment Type: </label>
    <select (change)="changePaymentType($event)">
      <option [selected]="true" [disabled]="true">Select and option</option>
      <option>Cash</option>
      <option>Card</option>
      <option>Both</option>
    </select>
  </div>
  <div (click)="emailSupplier()">
    <p>Email supplier</p>
    <fa-icon [icon]="email" />
  </div>
</div>
<div class="container" id="balance-sheet">
  <div class="content">
    <div class="header-section print-exclude">
      <h1>{{ inputData.title }}</h1>
    </div>
    <div class="transaction-list">
      <h2>Transactions</h2>
      @for (transaction of filteredTransactions; track transaction) {
        <div class="transaction">
          <!-- Order Display -->
          @if (transaction.type == "order") {
            <div class="order">
              <div class="transaction-date">
                Invoice: {{ transaction.date | date: "dd/MM/yyyy" }}
              </div>
              <div
                class="transaction-title"
                [ngClass]="
                  transaction.payment_status == paymentStatus.No ? 'unpaid' : ''
                "
              >
                {{ transaction.title }}
              </div>
              <div class="transaction-total">
                Total: {{ (transaction.total | currency: "EUR") ?? "N/A" }}
              </div>
              <div class="transaction-outstanding">
                Outstanding Balance:
                {{ transaction.outstanding_balance | currency: "EUR" }}
              </div>
            </div>
          }
          <!-- Payment Display -->
          @if (transaction.type == "payment") {
            <div class="payment">
              <div class="transaction-date">
                Payment: {{ transaction.date | date: "dd/MM/yyyy" }}
              </div>
              <div class="transaction-amount">
                Amount: {{ transaction.amount | currency: "EUR" }}
              </div>

              <div class="transaction-reference">
                Reference:
                <p class="bold">{{ transaction.reference }}</p>
              </div>
              @if (transaction.payment_type) {
                <div class="transaction-type">
                  Type:
                  <p class="bold">{{ transaction.payment_type }}</p>
                </div>
              }
              <div class="transaction-type">
                Outstanding Balance:
                <p class="bold">
                  {{ transaction.outstanding_balance | currency: "EUR" }}
                </p>
              </div>
            </div>
          }
          <!-- Credit Note Display -->
          @if (transaction.type == "credit-note") {
            <div class="credit-note">
              <div class="transaction-date">
                Credit Note: {{ transaction.date | date: "dd/MM/yyyy" }}
              </div>
              <div class="transaction-amount">
                Amount: £{{ transaction.amount.toFixed(2) }}
              </div>
            </div>
          }
        </div>
      }
    </div>
    <div class="invoice-summary">
      <h2>Invoice Summary</h2>
      <div class="summary-item">
        Total Invoices: {{ invoiceSummary?.orders }}
      </div>
      <div class="summary-item">
        Outstanding Invoices: {{ invoiceSummary?.outstanding_orders }}
      </div>
      <div class="summary-item">
        Outstanding Balance:
        {{ invoiceSummary?.outstanding_balance | currency: "EUR" }}
      </div>
    </div>
  </div>
</div>
