.container {
    width: 21cm;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    page-break-inside: avoid;
    .header-section {
        width: 100%;
        .row {
            display: flex;
            justify-content: space-between;
            .image-container {
                margin: 50px;
            }
        }
        h2 {
            padding: 30px 0px 30px 20px;
        }
    }
    .label {
        font-weight: bold;
    }
    .invoice-container {
        page-break-after: always;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        p {
            margin: 0;
        }
        .row {
            display: flex;
            page-break-inside: avoid;
        }
        .section {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 5px;
            padding: 10px;
            h1 {
                font-size: 18px;
                margin-top: 1px;
            }
        }
        .card {
            border-radius: 5px;
            border: 2px solid rgb(227, 227, 227);
        }
    }
    .items {
        .item-headers {
            border-bottom: 2px solid black;
        }
        .row {
            justify-content: space-between;
        }
    }
}

.splittable {
    page-break-after: always;
}