<ng-container *ngIf="loaded else loading">
    <div class="menu-bar print-exclude">
        <button class="button" (click)="print()"><fa-icon [icon]="faPrint" /></button>
        <div *ngIf="!driver" class="checkbox-container">
            <label>Delivery Only</label>
            <input [ngModel]="deliveryOnly" (change)="deliveryOnly = !deliveryOnly" type="checkbox" class="checkbox">
        </div>
    </div>
    <ng-container *ngIf="!deliveryOnly && !driver">
        <div *ngFor="let invoice of invoiceData; let key = index" class="container" [ngClass]="deliveryOnly ? 'print-exclude' : ''">
            <div class="header-section">
                <div class="row">
                    <span class="label">
                        <h2>Sales Invoice</h2>
                    </span>
                    <span class="image-container">
                        <img style="width:100px;height:100px;" [src]="imageUrlBase + 'static/logo.jpg'" alt="Logo">
                    </span>
                </div>
            </div>
            <div class="invoice-container">
                <div class="row">
                    <div class="section">
                        <div class="row label-row">
                            <span class="label">Invoice</span>
                            <span class="value"> #{{ invoice.invoice_id }}</span>
                        </div>
                        <div class="row label-row">
                            <span class="label">Invoice Date: </span>
                            <span class="value">{{ date | date: 'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                    <div class="section">
                        <div class="row label-row">
                            <span class="label">Estimated Delivery Date:</span>
                            <span class="value">{{ invoice['delivery_date'] | date: 'dd/MM/yyyy' }}</span>
                        </div>
                        <div class="row label-row">
                            <span class="label">Created At:</span>
                            <span class="value">{{ invoice['created_at'] | date: 'dd/MM/yyyy' }}</span><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section card">
                        <p> Unit 15<br> Hilsea Industrial Estate<br> Limberline Spur<br> Portsmouth
                            <br> PO3 5JW</p>
                    </div>
                    <div class="section card">
                        <p>Tel.: 023 9250 2120<br> Email: accounts.hellenicgrocery.co.uk<br> Company No.: 8603006<br> VAT No.: 171817403<br> AWRS: XRAW00000106442<br> EORI No.: GB171817403000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="section card">
                        <h1>Billing Address:</h1>
                        <p>{{ deliveryData[key]['delivery_info']['billing_address_one'] }}</p>
                        <p>{{ deliveryData[key]['delivery_info']['billing_address_two'] }}</p>
                        <p>{{ deliveryData[key]['delivery_info']['billing_address_three'] }}</p>
                        <p>{{ deliveryData[key]['delivery_info']['billing_postcode'] }}</p>
                    </div>
                    <div class="section card">
                        <h1>Delivery Address:</h1>
                        <p>{{ deliveryData[key]['delivery_info']['delivery_address_one'] }}</p>
                        <p>{{ deliveryData[key]['delivery_info']['delivery_address_two'] }}</p>
                        <p>{{ deliveryData[key]['delivery_info']['delivery_address_three'] }}</p>
                        <p>{{ deliveryData[key]['delivery_info']['delivery_postcode'] }}</p>
                    </div>
                    <div class="section card">
                        <h1>Payment Details:</h1>
                        <p><u>Hellenic Grocery Ltd</u><br> Account No: 63868745<br> Sort Code: 20-69-40<br><br> Please use this account for any payment</p>
                    </div>
                </div>
                <div class="row splitteable">
                    <div class="items section card">
                        <div class="row item-headers">
                            <span style="width: 37.5%;">Item Name</span>
                            <span style="width: 9%;">Quantity</span>
                            <span style="width: 12.5%;">Unit Price</span>
                            <span style="width: 10%;">Discount</span>
                            <span style="width: 12.5%;">Net Amount</span>
                            <span style="width: 8%;">VAT</span>
                            <span style="width: 10%;">Total</span>
                        </div>
                        <div *ngFor="let item of invoiceItems[key]" class="row">
                            <p style="width: 37.5%;">{{ item['item_name'] }}</p>
                            <p style="width: 9%;">{{ item['quantity'] }}</p>
                            <p style="width: 12.5%;">{{ item['price'] | currency:'GBP' }}</p>
                            <p style="width: 10%;">{{ item['discount'] }}%</p>
                            <p style="width: 12.5%;">{{ item['net_total'] | currency:'GBP' }}</p>
                            <p style="width: 8%;">{{ item['vat_charge'] | currency:'GBP' }}</p>
                            <p style="width: 10%;">{{ item['total'] | currency:'GBP' }}</p>
                        </div>
                    </div>
                </div>
                <div class="row splitteable">
                    <div class="balance section card">
                        <h1>Previous Outstanding Balance</h1>
                        <p>{{ invoice['outstanding_balance'] | currency:'GBP' }}</p>
                        <h1>Current Outstanding Balance</h1>
                        <p>{{ invoice['outstanding_balance'] + invoice['total'] | currency:'GBP' }}</p>
                    </div>
                    <div class="section card">
                        <div class="row label-row">
                            <span class="label">Subtotal: </span>
                            <span class="value">{{ invoice['gross_value'] | currency:'GBP' }}</span>
                        </div>
                        <div class="row label-row">
                            <span class="label">Discount: </span>
                            <span class="value">{{ invoice['discount'] | currency:'GBP' }}</span><br>
                        </div>
                        <div class="row label-row">
                            <span class="label">VAT: </span>
                            <span class="value">{{ invoice['vat'] | currency:'GBP' }}</span><br>
                        </div>
                        <div class="row label-row">
                            <span class="label">Net Value: </span>
                            <span class="value">{{ invoice['total'] | currency:'GBP' }}</span>
                        </div>
                    </div>
                </div>
                <div class="row splitteable">
                    <div class="agreement section card">
                        <h1>Agreement:</h1>
                        <p>This serves as an acknowledgment that I have received my order in its entirety, with no missing or damaged products. I have verified that all items listed on the invoice are accounted for. Additionally, I confirm that all products
                            have been delivered at the appropriate temperature, meeting the necessary requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let invoice of deliveryData; let index = index">
        <div class="container delivery-container">
            <h2>INV{{ invoice.invoice_id }}</h2>
            <table>
                <thead>
                    <th>Invoice ID</th>
                    <th>Account Name</th>
                    <th>Delivery Address </th>
                    <th>Delivery Postcode</th>
                    <th>Dispatching Warehouse</th>
                    <th>Distance (KM)</th>
                    <th>Delivery Date</th>
                </thead>
                <tbody>
                    <tr class="data-row">
                        <td>{{ invoice.invoice_id }}</td>
                        <td>{{ invoice.account_name }}</td>
                        <td>{{ invoice.full_address }}</td>
                        <td>{{ invoice.delivery_info[4] ?? '' }}</td>
                        <td>{{ invoice.warehouse_name }}</td>
                        <td>{{ invoice.distance }}</td>
                        <td>{{ invoice.delivery_date | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Item List</h2>
            <table *ngIf="invoiceItems[index].length > 0 else noItems" class="delivery-items-table">
                <thead>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of invoiceItems[index]">
                        <td>{{ item.item_name }}</td>
                        <td>
                            <img class="item-image" [src]="item.file_name == null ? imageUrlBase + 'placeholder.jpg' : imageUrlBase + item.file_name" />
                        </td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noItems>
                <h3>There are no items for this invoice</h3>
            </ng-template>
            <div class="row">
                <div class="section card">
                    <h1>Customer Signature:</h1>
                </div>
                <div class="section card">
                    <h1>Driver Signature:</h1>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<ng-template #loading>
    <ng-container *ngIf="!loaded">
        <div class="loading-container">
            <h1>Loading print preview: Please wait</h1>
            <fa-icon class="loading-icon" [icon]="faSpinner" spinPulse [spin]="true" />
        </div>
    </ng-container>
</ng-template>
<app-message-form />