$hellenicblue: rgb(0, 140, 255);
.button {
    outline: none;
    background-image: linear-gradient(to right, rgb(34, 130, 255), rgb(6, 63, 167));
    border: none;
    color: white;
}

.sidebar-button {
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(34, 130, 255), rgb(6, 63, 167));
    width: 90%;
    text-align: left;
    &:hover {
        background-image: linear-gradient(to right, rgb(27, 109, 217), rgb(8, 54, 141));
    }
}