@import '../variables';

.container {
    margin: 15px 15px 15px 16.5%;

    .no-data-container {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 15px;
        width: 30%;
        text-align: center;
        height: 100px;

        h1 {
            font-size: 18px;
        }
    }

    .table-container {
        background: none;
        padding: 10px;
        background-color: white;
        border-radius: 15px;
        margin: 10px 0 10px 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        table {
            border-collapse: collapse;
            border-radius: 15px;
            overflow: hidden;
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            thead {
                background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
                color: white;
            }

            .data-row {
                background-color: #eaeef3;
            }

            tr:nth-child(even) {
                background-color: white;
            }

            th,
            td {
                padding: 10px;
                text-align: left;
                font-size: 16px;

                input[type="checkbox"] {
                    position: relative;
                    width: 40px;
                    height: 20px;
                    -webkit-appearance: none;
                    background-color: #c6c6c6;
                    outline: none;
                    border-radius: 20px;
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
                }
            }
        }
    }

    .vat-return-container {
        background-color: #ffffff;
        padding: 22px;

        h1 {
            margin: 5px 0 15px 0;
            border-bottom: 2px solid;
        }

        .vat-return-table {
            background-color: white;
            border-radius: 10px;

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 3vw;
                border: 2px solid #dedede;
                padding: 0 15px;

                .currency {
                    flex: 1;
                    text-align: right;
                }
            }
        }
    }

    .vat-adjustments-container {
        h2 {
            margin: 5px 0px;
        }

        textarea {
            font-family: 'Titillium Web', sans-serif;
            width: 100%;
            min-height: 175px;
            border: 2px solid #000000;
            font-size: 16px;
            padding: 10px;
        }

        .vat-adjustments-table {
            th {
                background-color: #191919;
                color: #ffffff;
                padding: 10px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            td {
                padding: 10px;

                input {
                    padding: 10px 5px;
                }
            }
        }
    }
}

button {
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px 10px 0px;
}