<div class="container">
    <ng-container *ngIf="tableHeaders && tableData != null && tableData.length > 0 else noData">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th *ngFor="let header of tableHeaders">{{ header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="data-row" *ngFor="let row of tableData">
                        <td *ngFor="let key of getObjectKeys(row); let index = index">
                            <ng-container [ngSwitch]="columnTypes[index]">
                                <ng-container *ngSwitchCase="'currency'">
                                    {{ row[key] | currency: 'GBP' }}
                                </ng-container>
                                <ng-container *ngSwitchCase="'date'">
                                    {{ row[key] | date: 'dd/MM/yyyy' }}
                                </ng-container>
                                <ng-container *ngSwitchCase="'string'">
                                    {{ row[key] }}
                                </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-template #noData>
        <div *ngIf="tableData != null" class="no-data-container">
            <div class="content">
                <h1>Whoops! No data was found!</h1>
                <p>Could this be an error? If so, try refreshing the page!</p>
            </div>
        </div>
    </ng-template>
</div>
<ng-container *ngIf="tableName === 'debtor_creditor'">
    <app-debtor-creditor-widget></app-debtor-creditor-widget>
</ng-container>
<ng-container *ngIf="tableName === 'profit_loss'">
    <app-profit-loss-widget></app-profit-loss-widget>
</ng-container>
<ng-container *ngIf="tableName === 'vat-returns'">
    <app-table-widget></app-table-widget>
</ng-container>