@import "../variables";

.filter-container {
    display: flex;
    align-items: center;

    .advanced-filter-container {
        .button {
            padding: 6px;
            margin-right: 5px;
            border-radius: 5px;
            font-size: 16px;
        }
    }

    .filter {
        display: flex;
        align-items: center;
        background-color: white;
        font-size: 16px;
        outline: none;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 5px;
        padding: 6px;

        fa-icon {
            margin-left: 5px;
            font-size: 12px;
        }

        p {
            margin: 0;
        }

        &:hover {
            fa-icon {
                color: #0740a9;
            }
        }
    }

    .search-container {
        border-radius: 5px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        padding: 6px;

        button {
            background-color: transparent;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }

        input {
            border: none;

            &:active,
            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                font-size: 16px;
            }
        }
    }
}