<div class="container" [class]="formVisible">
    <div class="content">
        <div class="header-section">
            <h1>Deleting...</h1>
            <a (click)="hide()">
                <fa-icon [icon]="faX" />
            </a>
        </div>
        <div class="content-section">
            <ng-container *ngIf="ids.length == 1 else elseBlock">
                <p>Are you sure you want to delete this row?</p>
            </ng-container>
            <ng-template #elseBlock>
                <p>Are you sure you want to delete these rows?</p>
            </ng-template>
        </div>
        <div class="form-footer">
            <button class="button" (click)="deleteRow()">Delete</button>
        </div>
    </div>
</div>