@import '../../../variables';

.input-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 20px);

    label {
        display: flex;
        padding: 5px;
        font-weight: bold;

        .asterisk {
            font-size: 12px;
            margin-left: 2px;
        }
    }

    input[type="text"] {
        background-color: #ffffff;
        border-radius: 8px;
        outline: none;
        border: 1px solid rgb(215, 215, 215);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        font-size: 16px;
        padding: 10px;
    }

    input:disabled {
        color: #999999;
        background-color: #f5f5f5;
        cursor: default;
    }
}

.footer-options {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button {
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 17px;
        margin: 5px 10px 5px 5px;
    }
}