<div class="input-container">
    <label>Line 1</label>
    <input [disabled]="disabled" class="text" type="text" (input)="updateAddressValues(key, 'line1', $event)">
</div>
<div class="input-container">
    <label>Line 2</label>
    <input [disabled]="disabled" class="text" type="text" (input)="updateAddressValues(key, 'line2', $event)">
</div>
<div class="input-container">
    <label>Line 3</label>
    <input [disabled]="disabled" class="text" type="text" (input)="updateAddressValues(key, 'line3', $event)">
</div>
<div class="input-container">
    <label>Postcode</label>
    <input [disabled]="disabled" class="text" type="text" (input)="updateAddressValues(key, 'postcode', $event)">
</div>
<div class="footer-options">
    <div>
        <label>Save address?</label>
        <input [disabled]="disabled" type="checkbox" (input)="updateAddressValues(key, 'save', $event)">
    </div>
    <button [disabled]="disabled" class="button" type="button" (click)="addAddressToBook(key)">Add</button>
</div>