<div class="table-footer">
  <p>
    Showing page {{ viewMetadata.currentPage }} out of
    {{ viewMetadata.pageCount }}
  </p>
  <div class="page-section">
    @if (viewMetadata.currentPage > 1) {
      <button (click)="previousPage()">Previous</button>
    }
    <button [class]="viewMetadata.currentPage === 1 ? 'active-page' : ''" (click)="changePage(1)">
      {{ 1 }}
    </button>
    @for (pageNumber of pageRange; track pageNumber) {
      <button (click)="changePage(pageNumber)" [class]="viewMetadata.currentPage === pageNumber ? 'active-page' : ''">
        {{ pageNumber }}
      </button>
    }
    @if (viewMetadata.currentPage < viewMetadata.pageCount) {
      <button (click)="nextPage()">Next</button>
    }
  </div>
</div>
