<div class="menu-bar print-exclude">
    <button class="button" (click)="print()"><fa-icon [icon]="faPrint" /></button>
</div>
<div class="container">
    <h1>{{ vatData.period }}</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Box Num</th>
                <th>Per Accounts</th>
                <th>Previous Adjustments Reversal</th>
                <th>New Adjustments</th>
                <th>Fuel Scale Charge</th>
                <th>This Return</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let label of vatData.labels; let index = index">
                <td class="label">{{ label }}</td>
                <td>{{ index + 1 }}</td>
                <td>{{ vatData.originalValues[index] | currency: 'GBP' }}</td>
                <td>{{ vatData.previousAdjustments[index] | currency: 'GBP' }}</td>
                <td>{{ vatData.newAdjustments[index] | currency: 'GBP' }}</td>
                <td>{{ vatData.fuelScaleCharge[index] | currency: 'GBP' }}</td>
                <td>{{ vatData.total[index] | currency: 'GBP' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="notes">
        <h3>Notes</h3>
        <p>{{ vatData.notes }}</p>
    </div>
</div>