@import '../variables';

.container {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .form-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 0 0 15px 15px;
        margin: 5px;

        div {
            margin: 10px;
            display: flex;

            p {
                margin: 0 10px;
            }
        }
    }

    .content-fullscreen {
        margin: 7% 15px 15px 16.5% !important;
        width: auto !important;
    }

    .content {
        background-color: #ebebeb;
        border: none;
        border-radius: 15px;
        width: 35vw;
        margin: 5vw auto 0 auto;

        .header-section {
            height: 50px;
            border-radius: 15px 15px 0 0;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            color: white;
            background-image: linear-gradient(to right, rgb(34, 130, 255), rgb(6, 63, 167));


            h1 {
                text-align: center;
                width: 100%;
                font-size: 25px;
                margin: auto;
            }

            .popup-options {
                display: flex;

                a {
                    display: inline-block;
                    position: relative;
                    padding: 1.5em;
                    margin: -1.5em -1rem;
                    cursor: pointer;
                }
            }
        }

        .content-section {
            display: flex;
            gap: 20px;

            h1 {
                margin-left: 14px;
            }

            .loading-container {
                display: flex;
                justify-content: center;
                margin-top: 100px;
                flex: 1;

                .loading-icon {
                    margin: 100px 0 200px 0;
                }
            }

            .error-section {
                display: flex;
                justify-content: center;
                width: 100%;
                color: red;
                margin: 20px 0 10px 0;
                font-size: 18px;
            }

            .image-upload-container {
                width: 100%;
                border: 2px dashed rgb(154, 154, 154);
                margin: 10px;
                height: 150px;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                cursor: pointer;

                .button {
                    border-radius: 5px;
                    padding: 8px;
                    margin-top: 20px;
                    font-weight: bold;
                    font-size: 16px;
                }

                input {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                button {
                    z-index: 3;
                }

                fa-icon {
                    font-size: 25px;
                }
            }

            .form-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-content: flex-start;

                h1 {
                    width: 100%;
                }
            }

            .replacement {
                flex: 1 1 100%;
            }

            .select {
                flex: 1 1 calc(50% - 20px);
            }

            .alternative-select {
                flex: 1 1 100%;
            }

            .date {
                flex: 1 1 50%;
            }

            .number {
                flex: 1 1 calc(33% - 20px);
            }

            .text {
                flex: 1 1 50%;
            }

            .textarea {
                flex: 1 1 100%;
            }

            .input-container {
                padding: 10px;
                display: flex;
                flex-direction: column;
                max-width: calc(100% - 20px);

                .label-container {
                    display: flex;
                    justify-content: space-between;

                    .label-link {
                        font-size: 14px;
                        cursor: pointer;
                    }
                }

                textarea {
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    height: 150px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    color: #333;
                }

                .error-input {
                    border: 2px solid red !important;
                }

                .drop-select-container {
                    position: relative;
                    width: 100%;

                    input {
                        width: 100%;
                        box-sizing: border-box;
                    }

                    .image-row {
                        img {
                            width: 100%;
                            margin: 10px;
                        }
                    }
                }

                .select-input {
                    cursor: pointer;
                    font-size: 16px;
                    padding: 10px;
                }

                label {
                    display: flex;
                    padding: 5px;
                    font-weight: bold;

                    .asterisk {
                        font-size: 12px;
                        margin-left: 2px;
                    }
                }

                input[type="text"],
                input[type="number"],
                input[type="password"],
                input[type="date"] {
                    background-color: #ffffff;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid rgb(215, 215, 215);
                    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                    font-size: 16px;
                    padding: 10px;
                }

                select:disabled,
                input:disabled,
                textarea:disabled {
                    color: #999999;
                    background-color: #f5f5f5;
                    cursor: default;
                }

                .file-upload {
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    background-color: #FFF;
                    display: inline-block;
                    padding: 10px !important;
                    font-weight: normal;
                    font-size: 16px;
                    cursor: pointer;
                    box-sizing: border-box;
                    width: 100%;
                    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

                    input {
                        display: none;
                    }
                }

                .upload-size-warning {
                    font-size: small;
                    color: red;
                    margin: 5px 1px -3px 1px;
                    padding: 0px;
                }

                .input-hidden {
                    opacity: 0;
                    max-height: 0;
                    transition: max-height 0.5s ease 0.1s, opacity 0.5s ease, border 0s;
                }

                .input-visible {
                    opacity: 1;
                    max-height: 500px;
                    border: 1px solid rgb(215, 215, 215);
                    transition: max-height 0.5s ease 0.1s, opacity 0.5s ease;
                }

                .footer-options {
                    margin: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;

                    div {
                        display: flex;
                    }
                }
            }

            .table-container {
                width: 100%;
                overflow-x: auto;
                min-height: 200px;
                max-height: 250px;
                background-color: white;
                border-radius: 10px;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                    border-radius: 10px;

                    thead {
                        background-color: #f5f5f5;
                        font-weight: bold;

                        th {
                            padding: 10px;
                            border: 1px solid #ddd;
                            text-align: left;
                        }
                    }

                    tbody {
                        tr:nth-child(even) {
                            background-color: #f9f9f9;
                        }

                        tr {
                            &:hover {
                                background-color: #f0f0f0;
                            }

                            td {
                                padding: 10px;
                                border: 1px solid #ddd;
                            }

                            fa-icon {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .invoice-details-container {
                padding: 10px;
                width: 100%;

                >.table-container {
                    border-radius: 5px;

                    table {
                        width: 100%;
                        border-collapse: collapse;
                        border-spacing: 0;
                        border-radius: 10px;
                        overflow: hidden;

                        thead {
                            background-color: #313131;
                            font-weight: bold;
                            color: white;

                            th {
                                padding: 10px;
                                border: 1px solid #ddd;
                                text-align: left;
                            }
                        }

                        tbody {
                            tr:nth-child(even) {
                                background-color: #eaeef3;
                            }

                            tr:nth-child(odd) {
                                background-color: white;
                            }

                            tr {
                                &:hover {
                                    background-color: #f0f0f0;
                                }

                                td {
                                    padding: 10px;
                                    border: 1px solid #ddd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

button {
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
    margin: 5px 10px 5px 5px;
}

.hidden {
    display: none;
}

.success {
    color: rgb(142, 255, 142);
}

.button-success {
    background-image: linear-gradient(to right, rgb(34, 255, 63), rgb(6, 167, 6));

    &:hover {
        background-image: linear-gradient(to right, rgb(63, 194, 81), rgb(6, 167, 6));
    }

    padding: 5px 20px !important;
}