<div class="container">
  <div class="search-container">
    <div class="search-bar">
      <input [(ngModel)]="searchInput" (input)="searchOptions($event)" (focus)="searchDropdownVisible = true"
        type="text" [placeholder]="placeholder" />
      <button>
        @if (!searching) {
          <fa-icon [icon]="icons.search"></fa-icon>
        }
        @if (searching) {
          <fa-icon [icon]="icons.spinner" spinPulse [spin]="true" />
        }
      </button>
    </div>
    <div [class]="searchDropdownVisible ? 'search-dropdown-container' : 'search-dropdown-container hidden'">
      @if (filteredOptions.length > 0) {
        @for (option of filteredOptions; track option) {
          <div class="search-option" (click)="selectOption(option)">
            <p>{{ option }}</p>
          </div>
        }
      } @else {
        @if (!searching) {
          <div class="search-option">
            <p>There were no results
              <fa-icon [icon]="icons.noFile" />
            </p>
          </div>
        }
      }
    </div>
  </div>
  @if (selectedOption != '') {
    <div class="selected-option">
      <p>{{ selectedOption }}</p>
      <fa-icon [icon]="icons.x" (click)="clearSelectedOption()" />
    </div>
  }
</div>