.search-container {

    .search-bar {
        display: flex;
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid rgb(215, 215, 215);
        background-color: white;
        padding: 12px;
        transition: border-radius 0.6s 1s ease;

        button {
            background-color: transparent;
            color: #7b7b7b;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }

        &.visible {
            border-radius: 8px 8px 0 0 !important;
            transition: border-radius 0.5s ease;
        }
    }



    .search-dropdown-container {
        z-index: 3;
        position: absolute;
        border-radius: 0 0 8px 8px;
        border: 1px solid rgb(215, 215, 215);
        border-top: none;
        width: 15vw;
        background-color: white;
        box-sizing: border-box;
        max-height: 75vh;
        overflow-y: auto;
        overflow-x: hidden;

    }

    .hidden {
        opacity: 0;
        max-height: 0;
        border: 1px solid transparent;
        box-shadow: 0;
        transition:
            max-height 1s ease,
            opacity 0.5s 1s ease,
            border 0s 1s;
    }

    >.visible {
        opacity: 1;
        max-height: 750px;
        border: 1px solid rgb(215, 215, 215);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition:
            max-height 1s ease 0.4s,
            opacity 0.5s ease;

    }
}