<div class="search-container">
  <div class="search-bar">
    <ng-content select=".search-input"></ng-content>
    <button (click)="searchDropdownVisible = true">
      @if (!searching) {
        <fa-icon [icon]="icons.search"></fa-icon>
      }
      @if (searching) {
        <fa-icon [icon]="icons.loading" spinPulse [spin]="true" />
      }
    </button>
  </div>
  <div
    class="search-dropdown-container"
    [class.visible]="searchDropdownVisible"
    [class.hidden]="!searchDropdownVisible"
  >
    <ng-content select=".search-options"></ng-content>
  </div>
</div>
