<div class="container">
    <div (click)="goHome()" class="header-section">
        <h1>Hellenic Admin</h1>
    </div>
    <div class="options-container">
        <div *ngFor="let category of getTableCategories(tables)">
            <button class="sidebar-button" (click)="toggleDropdown(category)">{{ category }}
                <fa-icon [icon]="isDropdownVisible[category] ? faCaretDown : faCaretRight"></fa-icon>
              </button>
            <div class="dropdown-container" [ngClass]="{'hidden': !isDropdownVisible[category]}">
                <a *ngFor="let table of tables[category]" (click)="changeTable(table.name)">{{ table.displayName }}</a>
            </div>
        </div>
    </div>
</div>