@import '../variables';
.container {
    width: 14%;
    height: 98%;
    position: fixed;
    background-image: linear-gradient(to left top, #42424a 0%, #191919 100%);
    margin: 10px;
    border-radius: 15px;
    overflow-y: scroll;
    .header-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        color: white;
        text-align: center;
        font-weight: bold;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom: 5px solid #404048;
        padding: 15px;
        margin-bottom: 20px;
        cursor: pointer;
        h1 {
            font-size: 25px;
        }
    }
    .options-container {
        .dropdown-container {
            padding-left: 8px;
            display: flex;
            flex-direction: column;
            a {
                color: rgb(216, 216, 216);
                margin-left: 25px;
                padding: 2px;
                transition: color 0.3s;
                cursor: pointer;
                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
        button {
            fa-icon {
                display: flex;
                margin-left: auto;
                margin-right: 0;
            }
            cursor: pointer;
            outline: none;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            color: white;
        }
        .hidden {
            display: none;
        }
    }
}