$hellenicblue: rgb(0, 140, 255);
.container {
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    .header-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: $hellenicblue;
        color: white;
        text-align: center;
        font-weight: bold;
        h1 {
            font-size: 25px;
        }
    }
    .options-container {}
}