.container {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    .pie-chart-container {
        #pie-chart {
            cursor: pointer;
        }
    }
    .graph-view-container {
        #bar-chart {
            cursor: pointer;
        }
        .input-container {
            input {
                border-radius: 5px;
                border: 1px solid black;
                margin: 10px;
                padding: 10px;
                font-size: 15px;
            }
        }
    }
    .section {
        display: flex;
        margin: 30px 10px 10px 20px;
        .values-container {
            ul {
                text-align: left;
                color: #797979;
                li {
                    margin: 5px;
                }
            }
        }
    }
}