@import '../variables';

.container {
    width: 22cm;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    table {
        border-spacing: 0px;
    }

    .header,
    .header-space,
    .footer,
    .footer-space {
        height: 10px;
    }

    .header {
        position: fixed;
        top: 0;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }

    @media screen {
        :host {
            display: none;
        }
    }
}

.button-container {
    position: absolute;
    display: flex;
    margin: 10px 15px 15px 16%;

    button {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border-radius: 5px;
        padding: 8px;
        font-weight: bold;
        font-size: 17px;
        margin: 10px;
    }

    .back-icon {
        cursor: pointer;
    }
}

@media print {
    .print-exclude {
        display: none;
    }

    .grecaptcha-badge {
        display: none;
        visibility: hidden !important;
    }
}