<div class="print-exclude back-button-container">
    <button (click)="back()" class="button"><fa-icon class="back-icon" [icon]="faArrowLeft" />Back</button>
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <td>
                    <div class="header-space">&nbsp;</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="content">
                        <router-outlet></router-outlet>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-space">&nbsp;</div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>