@import "../variables";
.filter-container {
    .advanced-filter-container {
        .button {
            padding: 6px;
            margin-right: 5px;
            outline: none;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }
    }
    .filter {
        background-color: white;
        font-size: 16px;
        outline: none;
        border: 1px solid #000000;
        border-radius: 5px;
        margin: 5px;
        padding: 6px;
        fa-icon {
            margin-left: 5px;
            font-size: 12px;
        }
        p {
            margin: 0;
        }
        &:hover {
            .filter-close-icon {
                color: #0740a9;
            }
        }
    }
}

.container {
    margin: 15px 15px 15px 16%;
    h2 {
        margin-left: 15px;
    }
    .table-container {
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        overflow-x: auto;
        height: 800px;
        overflow-y: scroll;
        .table-footer {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            button {
                background-color: white;
                font-size: 16px;
                outline: none;
                border: 2px solid #e5e5e5;
                border-radius: 5px;
                margin: 2px;
                padding: 5px;
                &:hover {
                    background-color: #eaeef3;
                }
            }
            .active-page {
                background-image: linear-gradient( to right, rgb(34, 130, 255), rgb(6, 63, 167));
                color: white;
            }
        }
        .options-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 8px;
                >button {
                    align-self: flex-start;
                    border-radius: 5px;
                    padding: 8px;
                    margin-top: 20px;
                    font-weight: bold;
                    font-size: 17px;
                }
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                select {
                    background-color: white;
                    outline: none;
                    border: 1px solid black;
                    border-radius: 5px;
                }
            }
            .search-container {
                border-radius: 5px;
                border-style: solid;
                border-color: black;
                border-width: 1px;
                padding: 6px;
                button {
                    background-color: transparent;
                    border: none;
                    background: none;
                    outline: none;
                }
                input {
                    border: none;
                    &:active,
                    &:focus-visible {
                        outline: none;
                    }
                    &::placeholder {
                        font-size: 16px;
                    }
                }
            }
        }
        .table-wrapper {
            width: 90%;
            border-collapse: collapse;
            border-radius: 15px;
            overflow-x: auto;
            margin: 0 auto;
            border-radius: 15px;
            table {
                border-collapse: collapse;
                border-radius: 15px;
                overflow: hidden;
                border-radius: 15px;
                width: 100%;
            }
            tr {
                height: 56px;
            }
            th,
            td {
                padding: 10px;
                text-align: left;
                font-size: 16px;
                input[type="checkbox"] {
                    position: relative;
                    width: 40px;
                    height: 20px;
                    -webkit-appearance: none;
                    background-color: #c6c6c6;
                    outline: none;
                    border-radius: 20px;
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                }
                input[type="checkbox"]:before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    top: 0;
                    left: 0;
                    background-color: #fff;
                    transform: scale(1.1);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                }
                input:checked[type="checkbox"] {
                    background-color: #03a9f4;
                }
                input:checked[type="checkbox"]:before {
                    left: 20px;
                }
            }
            thead {
                background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
                color: white;
            }
            .data-row {
                background-color: #eaeef3;
                .bin {
                    text-align: center;
                }
            }
            tr:nth-child(even) {
                background-color: white;
            }
        }
    }
    .alternate-container {
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
        button {
            border-radius: 5px;
            padding: 8px;
            font-weight: bold;
            font-size: 17px;
            margin: 10px;
        }
    }
}