@import "../variables";

:host {
    overflow-y: hidden;
}

.checkbox {
    cursor: pointer;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 15px 5px 15px 15.5%;

    h2 {
        margin-left: 15px;
    }

    .table-container {
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        overflow-x: auto;
        overflow-y: hidden;

        .options-container {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            .row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 8px;
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                select {
                    background-color: white;
                    outline: none;
                    border: 1px solid black;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        .table-wrapper {
            width: 90%;
            border-collapse: collapse;
            border-radius: 0 15px 15px 15px;
            max-height: 600px;
            overflow-y: auto;
            overflow-x: auto;
            margin: 0 auto;

            table {
                width: 100%;
                border-collapse: collapse;
                border-radius: 15px;
                max-height: 600px;
                overflow-y: auto;
                overflow-x: auto;
                margin: 0 auto;
            }

            tr {
                height: 56px;
            }

            th,
            td {
                padding: 10px;
                text-align: left;
                font-size: 16px;

                .text-container {
                    max-height: 100px;
                    width: 200px;
                    overflow-y: scroll;
                }

                a {
                    cursor: pointer;
                }

                img {
                    border: 1px solid transparent;
                    border-radius: 5px;
                    width: 100px;
                }
            }

            td {
                .ng-fa-icon {
                    cursor: pointer;
                }
            }

            thead {
                position: sticky;
                top: 0;
                z-index: 1;
                background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
                color: white;
            }

            .data-row {
                background-color: #eaeef3;

                .bin {
                    text-align: center;
                }

                .icon-data-container {
                    white-space: nowrap;
                }
            }

            tr:nth-child(even) {
                background-color: white;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 75%;
        margin: 15px 15px 15px 23%;
    }
}