<div class="container" *ngIf="accessible">
    <ng-container *ngIf="viewMetaData.loaded else loading">
        <h2>Data for {{ displayName }}</h2>
        <div class="table-container">
            <div class="options-container">
                <div class="row">
                    <button class="button" (click)="addRow(null)">Add New +</button>
                    <button *ngIf="this.selectedRows.length > 0 && tableName == 'invoices'" class="button"
                        (click)="print()"><fa-icon [icon]="icons.faPrint" /></button>
                    <button *ngIf="selectedRows.length > 1" class="button" (click)="deleteRows()"><fa-icon
                            [icon]="icons.faTrashCan" /></button>
                    <button *ngIf="selectedRows.length == 1" class="button" (click)="duplicate()"><fa-icon
                            [icon]="icons.faCopy" /></button>
                    <button *ngIf="tableName == 'suppliers'" class="button" (click)="createCreditNote()"><fa-icon
                            [icon]="icons.faFileInvoice" /></button>
                    <button *ngIf="this.selectedRows.length == 1 && tableName == 'invoices'" class="button"
                        (click)="calculateDistance()">
                        <fa-icon *ngIf="!distanceLoading; else loading" [icon]="icons.faTruckFront"></fa-icon>
                        <ng-template #loading>
                            <fa-icon [icon]="icons.faSpinner" spinPulse [spin]="true"></fa-icon>
                        </ng-template>
                    </button>
                </div>
                <div>
                    <p>Show
                        <select (change)="changeEntries($event)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries
                    </p>
                    <div class="filter-container">
                        <ng-container *ngIf="displayColumnFilters.length > 0">
                            <div *ngFor="let filter of displayColumnFilters; let i = index" class="filter"
                                (click)="removeColumnFilter(i)">
                                <p>{{ filter }}</p>
                                <fa-icon [icon]="icons.faX" />
                            </div>
                        </ng-container>
                        <div *ngIf="getFilterData().searchFilter != '' && getFilterData().searchFilterApplied"
                            class="filter" (click)="clearFilter('table', true)">
                            <p>{{ getFilterData().searchFilter }}</p>
                            <fa-icon [icon]="icons.faX" />
                        </div>
                        <ng-container *ngIf="columnDateFilters.length > 0">
                            <div *ngFor="let filter of columnDateFilters; let i = index" class="filter"
                                (click)="removeColumnDateFilter(i)">
                                <p>{{ filter.startDate }}</p>
                                <fa-icon [icon]="icons.faArrowsLeftRight" />
                                <p>{{ filter.endDate }}</p>
                                <fa-icon [icon]="icons.faX" />
                            </div>
                        </ng-container>
                        <div class="advanced-filter-container">
                            <button class="button" (click)="showAdvancedFilter()"><fa-icon
                                    [icon]="icons.faFilter" /></button>
                        </div>
                        <div class="search-container">
                            <form>
                                <input type="text" placeholder="Search..." [(ngModel)]="getFilterData().searchFilter"
                                    name="searchText" />
                                <button type="submit" (click)="setTableFilter()">
                                    <fa-icon [icon]="icons.faSearch"></fa-icon>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tabs.length > 0" class="tab-parent">
                <div *ngFor="let tab of tabs" (click)="changeTab(tab.tableName)"
                    [class]="tableName == tab.tableName ? 'active-tab' : 'tab'">
                    {{tab.displayName}}
                </div>
            </div>
            <div class="table-wrapper">
                <table *ngIf="data && data.length > 0 else noData">
                    <thead>
                        <tr *ngIf="data[0]">
                            <th>Select</th>
                            <ng-container *ngFor="let column of displayNames; let key = index">
                                <ng-container *ngIf="key == 2">
                                    <ng-container [ngSwitch]="tableName">
                                        <ng-container *ngSwitchCase="'items'">
                                            <th>Stock</th>
                                            <th>Total Stock</th>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'stocked_items'">
                                            <th>Image</th>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'suppliers'">
                                            <th>Credit Notes</th>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'supplier_invoices'">
                                            <th>Items</th>
                                            <th>Credit Notes</th>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'invoices'">
                                            <th *ngIf="canDisplayColumn('invoiced-items')">Items</th>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'customers'">
                                            <th>Addresses</th>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <th *ngIf="canDisplayColumn(column.toString())" (click)="sortColumn(column)">
                                    {{ column }}
                                    <fa-icon *ngIf="this.sortedColumn.columnName == column.toString()"
                                        [icon]="this.sortedColumn.ascending ? icons.faArrowUp : icons.faArrowDown" />
                                </th>
                            </ng-container>
                            <ng-container *ngIf="tableName == 'items' || tableName == 'retail_items'">
                                <th>Allergen Information</th>
                                <th>Nutrition Information</th>
                            </ng-container>
                            <th *ngIf="canDisplayColumn('edit-row')">Edit</th>
                            <th *ngIf="canDisplayColumn('delete-row')">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="data-row"
                            *ngFor="let item of filteredDisplayData.slice(0, viewMetaData.entryLimit); let key = index;">
                            <ng-container *ngIf="itemContainsFilter(item)">
                                <td>
                                    <input (change)="selectRow($event, item['id'])" type="checkbox" class="checkbox"
                                        [checked]="selectedRows.indexOf(item['id']) != -1">
                                </td>
                                <ng-container
                                    *ngFor="let column of getColumnHeaders(data[0]); let columnIndex = index;">
                                    <ng-container *ngIf="columnIndex == 2">
                                        <ng-container [ngSwitch]="tableName">
                                            <ng-container *ngSwitchCase="'items'">
                                                <td (click)="stockSearch(item.id)"
                                                    [ngClass]="shouldColourCell(item[column])"
                                                    [ngClass]="shouldColourCell(item[column]) + (displayWithIcon(column, item) ? ' icon-data-container' : '')">
                                                    <fa-icon [icon]="icons.faBox"></fa-icon>
                                                </td>
                                                <td>{{ stockData[item['id']] ? stockData[item['id']] : 0 }}</td>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'stocked_items'">
                                                <td>
                                                    <img
                                                        [src]="images[item['item_id']] == null ? imageUrlBase + 'placeholder.jpg' :  imageUrlBase + images[item['item_id']]" />
                                                </td>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'supplier_invoices'">
                                                <td *ngIf="canDisplayColumn('invoiced-items')"
                                                    (click)="supplierInvoiceSearch(item.id)">
                                                    <fa-icon [icon]="icons.faBasketShopping" />
                                                </td>
                                                <td (click)="creditNoteSearch(item.id)">
                                                    <fa-icon [icon]="icons.faNoteSticky" />
                                                </td>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'suppliers'">
                                                <td (click)="creditNoteSearch(item.id)">
                                                    <fa-icon [icon]="icons.faNoteSticky" />
                                                </td>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'invoices'">
                                                <td *ngIf="canDisplayColumn('invoiced-items')"
                                                    (click)="invoiceSearch(item.id)">
                                                    <fa-icon [icon]="icons.faBasketShopping" />
                                                </td>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'customers'">
                                                <td (click)="addressSearch(item.id, item.account_name)">
                                                    <fa-icon [icon]="icons.faAddressBook" />
                                                </td>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <td *ngIf="canDisplayColumn(column)" [ngClass]="shouldColourCell(item[column])"
                                        [ngClass]="shouldColourCell(item[column]) + (displayWithIcon(column, item) ? ' icon-data-container' : '')">
                                        <ng-container [ngSwitch]="dataTypes[columnIndex]">
                                            <img *ngSwitchCase="'file'"
                                                [src]="item[column] == null ? imageUrlBase + 'placeholder.jpg' : imageUrlBase + item[column]" />
                                            <ng-container *ngSwitchCase="'enum(\'No\',\'Yes\')'">
                                                <input
                                                    (change)="changeCheckBox($event, key + (viewMetaData.currentPage - 1) * viewMetaData.entryLimit, column)"
                                                    type="checkbox" class="checkbox" [checked]="item[column] == 'Yes'">
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'float'">
                                                {{ item[column] == null ? '---' : item[column] | currency:'GBP' }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'decimal(19,2)'">
                                                {{ item[column] == null ? '---' : item[column] | currency:'GBP' }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'double'">
                                                {{ item[column] == null ? '---' : item[column] + '%' }}
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'text'">
                                                <div class="text-container">
                                                    {{ item[column] == null ? '---' : item[column] }}
                                                </div>
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                {{ item[column] == null ? '---' : item[column] }}
                                                <ng-container *ngIf="displayWithIcon(column, item)"
                                                    class="icon-container">
                                                    <fa-icon class="row-icon"
                                                        (click)="iconClick($event, key + (viewMetaData.currentPage - 1) * viewMetaData.entryLimit, column, item)"
                                                        [icon]="icon"></fa-icon>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="tableName == 'items' || tableName == 'retail_items'">
                                    <td (click)="editRow(item.id, 'allergen_information')">
                                        <fa-icon [icon]="icons.faBookMedical"></fa-icon>
                                    </td>
                                    <td (click)="editRow(item.id, 'nutrition_info')">
                                        <fa-icon [icon]="icons.faBookOpen"></fa-icon>
                                    </td>
                                </ng-container>
                                <td *ngIf="canDisplayColumn('edit-row')">
                                    <a (click)="editRow(item.id, '')">
                                        <fa-icon [icon]="icons.faPencil"></fa-icon>
                                    </a>
                                </td>
                                <td *ngIf="canDisplayColumn('delete-row')" class="bin">
                                    <a (click)="deleteRow(item.id)">
                                        <fa-icon [icon]="icons.faTrashCan"></fa-icon>
                                    </a>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noData>
                    <div *ngIf="data.length === 0 && viewMetaData.loaded" class="alternate-container">
                        <div class="no-data-container">
                            <div class="header">
                                <fa-icon (click)="back()" [icon]="icons.faArrowLeft" />
                            </div>
                            <div class="content">
                                <h1>Whoops! No data was found for {{ displayName }}!</h1>
                                <p>Could this be an error? If so, try refreshing the page otherwise add new data below!
                                </p>
                                <button class="button" (click)="addRow(null)">Add New +</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="table-footer">
                <p>Showing page {{ viewMetaData.currentPage }} out of {{ viewMetaData.pageCount }}</p>
                <div class="page-section">
                    <button (click)="previousPage()">Previous</button>
                    <button [class]="viewMetaData.currentPage == 1 ? 'active-page' : ''" (click)="changePage(1)"> {{ 1
                        }}</button>
                    <button *ngFor="let pageNumber of getPageRange()" (click)="changePage(pageNumber)"
                        [class]="viewMetaData.currentPage == pageNumber ? 'active-page' : ''">{{ pageNumber }}</button>
                    <button (click)="nextPage()">Next</button>
                </div>
            </div>
            <ng-container [ngSwitch]="tableName">
                <ng-container *ngSwitchCase="'general_ledger'">
                    <app-ledger-widget></app-ledger-widget>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #loading>
        <ng-container *ngIf="!viewMetaData.loaded">
            <div class="loading-container">
                <fa-icon class="loading-icon" [icon]="icons.faSpinner" spinPulse [spin]="true" />
            </div>
        </ng-container>
    </ng-template>
</div>
<app-edit-form />
<app-add-form />
<app-delete-form />
<app-message-form />
<app-filter-form />
<app-change-password-form />
<app-widget />