<td [ngClass]="getCellClasses(item, column)">
  <div class="container" [class.icon]="displayWithIcon(item)">
    @switch (dataTypes[columnIndex]) {
      @case ('file') {
        <img [src]="getImageSource(item[column])" [alt]="placeholderImage" />
      }
      @case ("enum('No','Yes')") {
        <div>
          <input
            (change)="changeCheckBox($event, item.id, column)"
            type="checkbox"
            class="checkbox"
            [class.loading]="loading"
            [checked]="item[column] === 'Yes'"
          />
        </div>
      }
      @case ('text') {
        <div class="text-container">
          {{ item[column] === null ? '---' : item[column] }}
        </div>
      }
      @default {
        {{ getValue(dataTypes[columnIndex], item, column) }}
        @if (displayWithIcon(item)) {
          <ng-container class="icon-container">
            <fa-icon class="row-icon" (click)="iconClick(item)" [icon]="icon"></fa-icon>
          </ng-container>
        }
      }
    }
  </div>
</td>
