@import "../variables";
.container {
    background-color: #eaeef3;
    margin: 10px;
    margin-left: 80px;
    border-radius: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    .table-container {
        width: 99%;
        border-collapse: collapse;
        border-radius: 15px;
        overflow-x: auto;
        margin: 0 auto;
        border-radius: 15px;
        table {
            border-collapse: collapse;
            border-radius: 15px;
            overflow: hidden;
            border-radius: 15px;
            width: 100%;
        }
        tr {
            height: 56px;
        }
        th,
        td {
            padding: 10px;
            text-align: left;
            font-size: 16px;
        }
        thead {
            background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
            color: white;
        }
        .data-row {
            background-color: #eaeef3;
        }
        tr:nth-child(even) {
            background-color: white;
        }
    }
    button {
        border-radius: 5px;
        padding: 8px;
        font-weight: bold;
        font-size: 17px;
        margin: 10px;
    }
}