<div class="container" [class]="formVisible">
    <div class="content">
        <div class="header-section">
            <h1>Invoiced items for {{ title }}</h1>
            <a (click)="hide()">
                <fa-icon [icon]="faX" />
            </a>
        </div>
        <ng-container *ngIf="data != null && data.length > 0 else noData">
            <div class="table-container">
                <table>
                    <thead>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>VAT Charge</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let values of data">
                            <td>{{ values.id }}</td>
                            <td>{{ values.name }}</td>
                            <td>{{ values.quantity }}</td>
                            <td>{{ values.vat }}</td>
                            <td (click)="editRow(values.id)">
                                <fa-icon [icon]="faPenToSquare" />
                            </td>
                            <td (click)="deleteRow(values.id)">
                                <fa-icon [icon]="faTrashCan" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="widget-footer">
                    <button class="button" (click)="addInvoicedItem()">Add more</button>
                </div>
            </div>
        </ng-container>
        <ng-template #noData>
            <div class="error-container">
                <p>There are no invoiced items for this invoice. Would you like to add some?</p>
                <button class="button" (click)="addInvoicedItem()">Add new</button>
            </div>
        </ng-template>
    </div>
</div>