:host {
    width: 100%;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0 0 15px 15px;
    margin: 5px;

    button {
        border-radius: 5px;
        padding: 5px;
        font-weight: 700;
        font-size: 17px;
        margin: 5px 10px 5px 5px;
    }
}