body {
    margin: 0px;
    background-color: #eaeef3;
    font-family: 'Titillium Web', sans-serif;
     ::selection {
        background-color: rgb(66, 66, 200);
        color: white;
    }
}

@media print {
    app-root>* {
        display: none;
    }
    app-root app-print-layout {
        display: block;
    }
}