<div class="container" [class]="formVisible">
    <div class="content">
        <div class="header-section">
            <h1>Editing...</h1>
            <a (click)="hide()">
                <fa-icon class="fa-icon" [icon]="faX" />
            </a>
        </div>
        <div class="content-section">
            <div *ngIf="error && submissionEnded" class="error-section">{{ error }}</div>
            <ng-container *ngIf="mappedFormData && loaded else loading">
                <form [formGroup]="editForm" class="form-container">
                    <div class="input-container" *ngFor="let key of mappedFormDataKeys" [ngClass]="mappedFormData.get(key)?.inputType">
                        <div class="label-container">
                            <label>{{ key }}<fa-icon *ngIf="mappedFormData.get(key)?.required" class="asterisk" [icon]="faAsterisk" /></label>
                            <label class="label-link" *ngIf="key == 'Delivery Address' || key =='Billing Address'" (click)="addressNotListed(key)"><a>Address not listed?</a></label>
                        </div>
                        <ng-container [ngSwitch]="mappedFormData.get(key)?.inputType">
                            <ng-container *ngSwitchCase="'file'">
                                <ng-container *ngIf="imageReplacements.length > 0 else noImages">
                                    <div class="drop-select-container">
                                        <input [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" type="text" (focus)="onInputFocus(key)" (blur)="onInputBlur(key)" [attr.required]="mappedFormData.get(key)?.required ? true : null" [formControlName]="mappedFormData.get(key)!.fields"
                                            [(ngModel)]="selectedImage">
                                        <div class="drop-select" [ngClass]="selectOpen[key]?.opened ? 'input-visible' : 'input-hidden'" [attr.required]="mappedFormData.get(key)?.required ? true : null">
                                            <div *ngFor="let image of imageReplacements" (click)="updateImageSelection(image)" class="image-row">
                                                <p>{{ image }}</p>
                                                <img [src]="imageUrlBase + image">
                                            </div>
                                        </div>
                                        <div class="image-preview-container">
                                            <img *ngIf="selectedImage" [src]="imageUrlBase + selectedImage">
                                            <button class="delete-button" *ngIf="selectedImage" (click)="deleteImage(selectedImage)">Remove</button>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #noImages>
                                    <label class="file-upload">
                                        <input [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" [attr.required]="mappedFormData.get(key)!.required ? true : null" accept="image/*" [type]="mappedFormData.get(key)!.inputType" (change)="primeImage($event)">
                                        <fa-icon [ngClass]="file == null ? '' : 'success'" [icon]="faCloudUpload" /> {{ file == null ? "Upload Image" : file.name }}
                                    </label>
                                </ng-template>
                            </ng-container>
                            <ng-container *ngSwitchCase="'alternative-select'">
                                <div class="drop-select-container">
                                    <input [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" type="text" [disabled]="locked" (input)="filterDropSelect(key, $event, mappedFormData.get(key)!.fields)" (focus)="onInputFocus(key)" (blur)="onInputBlur(key)" [value]="alternativeSelectedData[key].selectData">
                                    <div class="drop-select" [ngClass]="selectOpen[key].opened ? 'input-visible' : 'input-hidden'" [attr.required]="mappedFormData.get(key)?.required ? true : null">
                                        <p *ngFor="let option of alternativeSelectData[key].data" (click)="updateAlternativeSelectData(mappedFormData.get(key)!.fields, option, key)">{{ option }}</p>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'select'">
                                <select [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" type="text" class="select-input" [attr.required]="mappedFormData.get(key)?.required ? true : null" [formControlName]="mappedFormData.get(key)!.fields">
                                    <ng-container *ngFor="let option of selectDataFromKey(key)">
                                        <option [value]="option" [selected]="mappedFormData.get(key)?.value == option">{{ option }}</option>
                                    </ng-container>
                                </select>
                            </ng-container>
                            <ng-container *ngSwitchCase="'replacement'">
                                <ng-container *ngIf="(key == 'Delivery Address' || key == 'Billing Address') && addressNotListedKeys.includes(key) else standardSelect">
                                    <div class="input-container">
                                        <label>Line 1 <fa-icon class="asterisk" [icon]="faAsterisk" /></label>
                                        <input class="text" type="text" (input)="updateAddressValues(key, 'line1', $event)">
                                    </div>
                                    <div class="input-container">
                                        <label>Line 2</label>
                                        <input class="text" type="text" (input)="updateAddressValues(key, 'line2', $event)">
                                    </div>
                                    <div class="input-container">
                                        <label>Line 3</label>
                                        <input class="text" type="text" (input)="updateAddressValues(key, 'line3', $event)">
                                    </div>
                                    <div class="input-container">
                                        <label>Postcode <fa-icon class="asterisk" [icon]="faAsterisk" /></label>
                                        <input class="text" type="text" (input)="updateAddressValues(key, 'postcode', $event)">
                                    </div>
                                    <div class="footer-options">
                                        <div>
                                            <label>Save address?</label>
                                            <input type="checkbox" (input)="updateAddressValues(key, 'save', $event)">
                                        </div>
                                        <button class="button" type="button" (click)="addAddressToBook(key)">Add</button>
                                    </div>
                                </ng-container>
                                <ng-template #standardSelect>
                                    <div class="drop-select-container">
                                        <input autocomplete="off" [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" (input)="filterDropSelect(key, $event, null)" type="text" (focus)="onInputFocus(key)" (blur)="onInputBlur(key)" [value]="selectedReplacementData[key]?.selectData">
                                        <div class="drop-select" [ngClass]="selectOpen[key]?.opened ? 'input-visible' : 'input-hidden'">
                                            <ng-container *ngFor="let option of filteredReplacementData[key].data">
                                                <p *ngIf="option.replacement != ''" (click)="updateSelectedReplacementDataFromKey(option.id, option.replacement, key, mappedFormData.get(key)!.fields)">{{ option.replacement }}</p>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                            <ng-container *ngSwitchCase="'textarea'">
                                <textarea [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" [formControlName]="mappedFormData.get(key)!.fields"></textarea>
                            </ng-container>
                            <input *ngSwitchDefault [class]="inputHasError(mappedFormData.get(key)!.fields) ? 'error-input' : ''" [attr.required]="mappedFormData.get(key)?.required ? true : null" [type]="mappedFormData.get(key)?.inputType" [formControlName]="mappedFormData.get(key)!.fields"
                                [value]="mappedFormData.get(key)?.value">
                        </ng-container>
                    </div>
                    <ng-container *ngIf="canUploadImages()">
                        <div class="image-upload-container">
                            <input accept="image/*" type="file" (change)="primeImage($event)">
                            <fa-icon [icon]="faCloudUpload" [ngClass]="file == null ? '' : 'success'" /> Drop Image Here to Upload
                            <button class="button" (click)="submitImageOnly()">Upload</button>
                        </div>
                    </ng-container>
                    <div class="form-footer">
                        <button class="button" name="action" value="append" (click)="formSubmit(true)" type="submit">Save</button>
                    </div>
                </form>
            </ng-container>
            <ng-template #loading>
                <div class="loading-container">
                    <fa-icon class="loading-icon" [icon]="faSpinner" spinPulse [spin]="true" />
                </div>
            </ng-template>
        </div>
    </div>
</div>