<div class="container" [class]="formVisible">
  <div class="content">
    <div class="header-section">
      <h1>Advanced Filter</h1>
      <a (click)="hide()">
        <fa-icon class="icon" [icon]="icons.x" />
      </a>
    </div>
    @if (error) {
      <div class="error-section">
        <p>{{ error }}</p>
      </div>
    }
    <div class="content-section">
      <div class="input-container">
        <label>Select Column</label>
        <select
          [class.error]="hasError(columnInput)"
          (change)="getColumnType()"
          [(ngModel)]="columnInput"
        >
          @for (
            column of tableColumns.columnNames;
            track column;
            let i = $index
          ) {
            <option [value]="tableColumns.columns[i]">{{ column }}</option>
          }
        </select>
      </div>
      <div class="input-container">
        @switch (columnType) {
          @case ("date") {
            <label>Start date:</label>
            <input
              [class.error]="hasError(startDate)"
              required
              type="date"
              [(ngModel)]="startDate"
            />
            <label>End date:</label>
            <input
              [class.error]="hasError(endDate)"
              required
              type="date"
              [(ngModel)]="endDate"
            />
          }
          @case ("enum") {
            <div class="drop-select-container">
              <input
                type="text"
                (focus)="openDropdown()"
                (blur)="closeDropdown()"
                [(ngModel)]="searchInput"
              />
              <div
                class="drop-select"
                [ngClass]="
                  columnIndex == open ? 'input-visible' : 'input-hidden'
                "
              >
                @for (option of options; track option) {
                  <p (click)="selectOption(option)">{{ option }}</p>
                }
              </div>
            </div>
          }
          @default {
            <input
              [class]="searchInput == '' && error != null ? 'error' : ''"
              [(ngModel)]="searchInput"
              required
              type="text"
              placeholder="Search..."
            />
            <div class="case-option-container">
              <label>Case Sensitive?</label>
              <input [(ngModel)]="caseSensitive" type="checkbox" />
            </div>
          }
        }
        <div class="button-container">
          <button class="button" (click)="search(false)">
            <fa-icon class="icon" [icon]="icons.plus" />
            Add
          </button>
          <button class="button" (click)="search(true)">
            <fa-icon class="icon" [icon]="icons.search" />
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
