@import '../variables';
.container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;
    height: 90%;
    .content {
        background-color: #ebebeb;
        border: none;
        border-radius: 15px;
        margin: 5px auto;
        width: 40%;
        .header-section {
            height: 50px;
            border-radius: 15px 15px 0 0;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            color: white;
            background-image: linear-gradient(to right, rgb(34, 130, 255), rgb(6, 63, 167));
            a {
                cursor: pointer;
            }
            h1 {
                text-align: center;
                width: 100%;
                font-size: 25px;
                margin: auto;
            }
        }
        .content-section {
            flex-direction: column;
            display: flex;
            label {
                padding: 10px;
                margin-left: 10px;
                font-weight: bold;
            }
            select {
                background-color: #ffffff;
                border-radius: 8px;
                outline: none;
                border: 1px solid rgb(215, 215, 215);
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                font-size: 20px;
                padding: 10px;
                margin-left: 15px;
                margin-right: 15px;
                cursor: pointer;
            }
            .input-container {
                padding: 15px;
                display: flex;
                flex-direction: column;
                .button-container {
                    display: flex;
                    justify-content: right;
                    button {
                        margin: 10px 2px 2px 2px;
                        border-radius: 12px;
                        padding: 10px;
                        font-size: 20px;
                        &:hover {
                            background-image: linear-gradient(to right, rgb(27, 109, 217), rgb(8, 54, 141));
                            color: white;
                        }
                    }
                }
                .case-option-container {
                    padding: 10px 0 10px 0;
                }
                label {
                    padding: 5px;
                    font-weight: bold;
                    margin: 0;
                }
                input {
                    background-color: #ffffff;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid rgb(215, 215, 215);
                    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}

.hidden {
    display: none;
}