.container {
    margin: 15px 15px 15px 16%;
    display: flex;
    flex-direction: column;
    .toolbar {
        margin: 0 10px 10px 10px;
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        position: sticky;
        top: 5px;
        width: fit-content;
        border: 2px solid #008cff;
        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid rgb(215, 215, 215);
            outline: none;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: 10px;
        div {
            width: calc(33% - 35px);
            max-width: calc(33% - 35px);
            padding: 15px;
            flex-grow: 1;
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
    }
}