<div class="chart-container">
    <div class="toolbar">
        <input type="text" matInput ngxDaterangepickerMd [ranges]="ranges" [alwaysShowCalendars]="true" [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [(ngModel)]="selected" name="daterange" (change)="updateDateRange()" />
    </div>
    <div class="content">
        <div class="chart" *ngFor="let chart of charts; let index = index">
            <div class="header">
                <h3>{{ chart.heading }}</h3>
                <fa-icon class="icon" (click)="setReportChart(chart, index)" [icon]="icons.faFileContract" />
            </div>
            <h1>{{ chart.subheading }}</h1>
            <canvas class="canvas" baseChart [data]="chart.data" [options]="chart.options" [type]="chart.type"></canvas>
        </div>
    </div>
</div>
<div *ngIf="reportChart != null" class="report-container">
    <div class="report">
        <div class="heading">
            <h1>{{ reportChart.chart.heading }} Report</h1>
            <fa-icon (click)="setReportChart(null)" [icon]="icons.faX" />
        </div>
        <div class="data-container">
            <div class="container chart">
                <div class="header">
                    <h3>{{ reportChart.chart.heading }}</h3>
                </div>
                <h1>{{ reportChart.chart.subheading }}</h1>
                <canvas class="canvas" baseChart [data]="reportChart.chart.data" [options]="reportChart.chart.options" [type]="reportChart.chart.type"></canvas>
            </div>
            <div class="container table">
                <div class="options">
                    <div class="option-icons">
                        <fa-icon (click)="toggleTableOptions('filter')" [icon]="icons.faFilter" class="icon" />
                        <fa-icon (click)="toggleTableOptions('sort')" [icon]="icons.sort" class="icon" />
                    </div>
                    <div *ngIf="optionsShown == 'filter'" class="table-options">
                        <div *ngFor="let filter of reportChart.report.filters" class="option-item">
                            <label>{{ filter.name }}</label>
                            <input (change)="setFilter(filter)" [checked]="filterActive(filter)" type="checkbox" class="checkbox">
                        </div>
                    </div>
                    <div *ngIf="optionsShown == 'sort'" class="table-options">
                        <select class="select-input" (change)="selectHeaderToSort($event)">
                            <option *ngFor="let header of reportChart.report.headers; let i = index" [selected]="header == headerToSort.name" [value]="i">{{ header }}</option>
                        </select>
                        <fa-icon (click)="sortTable('down')" [class]="" [icon]="icons.sortLowToHigh" class="icon" />
                        <fa-icon (click)="sortTable('up')" [icon]="icons.sortHighToLow" class="icon" />
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let header of reportChart.report.headers">{{ header }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of filteredReportData">
                                <td *ngFor="let key of getKeys(row); let index = index">
                                    <ng-container [ngSwitch]="reportChart.report.dataTypes[index]">
                                        {{ row[key] }}
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>