<app-generic-searcher #searchComponent>
  <ng-container class="search-input">
    <input
      [(ngModel)]="searchInput"
      (input)="searchTables($event)"
      (focus)="searchComponent.open()"
      placeholder="Search..."
    />
  </ng-container>
  <ng-container class="search-options">
    @if (filteredTableOptions.length > 0 || searchResults.length > 0) {
      @for (table of filteredTableOptions; track table) {
        <div class="search-option" (click)="changeTable(table.actual)">
          <p>{{ table.display }}</p>
        </div>
      }
      @for (results of searchResults; track results) {
        <div class="search-option" (click)="goToRow(results.tableName, results.matchedValue)">
          <div class="results-container">
            <p class="bold">{{ results.tableName }}:</p>
            <p class="display-value">{{ results.displayValue }}</p>
          </div>
        </div>
      }
    } @else {
      @if (!searchComponent.searching) {
        <div class="search-option">
          <p>
            There were no results
            <fa-icon [icon]="icons.noResults" />
          </p>
        </div>
      }
    }
  </ng-container>
</app-generic-searcher>
