input {
    border: none;
    font-size: 16px;
    width: 100%;

    &:active,
    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
    }
}

.search-option {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    p {
        margin: 5px;
    }

    .results-container {
        display: flex;
        justify-content: space-between;

        p {
            text-align: right;
        }

        .bold {
            text-align: left;
            font-weight: bold;
        }

        .display-value {
            line-break: anywhere;
        }
    }

    &:hover {
        background-color: #eaeef3;
    }
}

app-generic-searcher {
    display: block;
    width: 15vw;
}