<div class="container">
  <div class="form-container">
    <h1>Newsletter</h1>
    <form [formGroup]="newsletterForm" (ngSubmit)="submit()">
      <quill-editor [styles]="{height: '300px', backgroundColor: 'white', borderRadius: '5px'}"
      [formControlName]="'newsletter'" [modules]="modules"></quill-editor>
      <div>
        <button class="button" type="submit">{{ buttonText }} @if (isLoading) {
          <fa-icon [icon]="loading"
            spinPulse [spin]="true" />
        }</button>
        <button class="button" type="button" (click)="toggleMailingListVisibility()">Show Mailing List</button>
      </div>
    </form>
  </div>
  @if (mailingListVisible) {
    <div class="mailing-list-container">
      <h2>Mailing List</h2>
      @for (customer of newsletterCustomers; track customer) {
        <p>{{ customer }}</p>
      }
    </div>
  }
</div>