@import '../variables';

.container {
    display: flex;
    gap: 20px;
    max-height: 45.5vw;

    .form-container {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;

        h1 {
            margin: 0 0 15px 0;
        }

        form {
            display: flex;
            flex-direction: column;

            button {
                font-weight: bold;
                font-size: 15px;
                margin: 10px 10px 0 0;
            }
        }

    }

    .mailing-list-container {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        flex-grow: 1;
        overflow-y: scroll;

        h2 {
            margin: 0 0 5px 0;
        }

        p {
            margin: 0px;
            padding: 10px;
            transition: background-color 0.5s ease;
            border-radius: 5px;

            &:hover {
                background-color: rgb(241, 241, 241);
            }
        }
    }
}